#pre{

}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}
.grey_text{
    color: lightgray;
}

.azure{
    color: rgba(32, 169, 229, 100);
}

.info_photo{
    font-size: 10px;
}